.navbar {
    height: 100px;
    display: flex;
    padding: 1rem 4rem;
    align-items: center;
    .logo {
        img {
            object-fit: cover;
            width: 100%;
        }
    }
    .bu {
        margin-left: 16px;
        span {
            color: #cc0000;
          }
    }
    .space {
        flex: 1;
    }
    .links {
        .link {
            margin: 0px 8px;
            border-bottom: 1px solid transparent;
            transition: all 0.1s ease-in-out;   
            &:hover {
                color: #7851A9;
                border-bottom: 1px solid #7851A9;
            }
        }
    }
}