
.divider {
    margin-top: 4rem;
    height: 2px;
    background-color: white;
    margin-bottom: 2rem;
}

.wiblock,
.town {
    display: flex;
    flex-direction: column;
    flex: 1;

    span {
        color: #cc0000;
    }

    .sub {
        margin-top: 1rem;
    }

}

.town {
    margin-top: 4rem;
}

.offers {
    .offer {
        margin-top: 2rem;
        h3 {
            font-weight: 600;
            font-size: 1.3rem;
            margin-bottom: 1rem;
          }
          .sub {
            margin-top: 1rem;
        }
    }
}