.main {
    display: flex;
    height: calc(100vh - 100px);
    .content {
        width: 60%;
        max-width: 60%;
        padding: 4rem;
        overflow-y: scroll;
    }

    @media screen and (max-width: 1300px) {
        flex-direction: column;
        .content {
            width: 100%;
            max-width: 100%;
        }
        .graphic {
            display: none;
        }
        
    }
}