.event {
    display: flex;
    flex-direction: column;
    flex: 1;

    margin-top: 4rem;

    &:first-child {
        margin-top: 0;
    }

    span {
        color: #cc0000;
    }

    .sub {
        margin-top: 1rem;
    }

    .date {
        margin-top: .6rem;
        font-weight: 400;
        color: #ffffff91;
        margin-bottom: 0.5rem;
    }

    button {
        margin-top: 1rem;
        width: min-content;
        background-color: transparent;
        border: 1px solid white;
        border-radius: .6rem;
        padding: 0.8rem 2rem;
        cursor: pointer;
        transition: all 0.14s ease-in-out;

        &:hover {
            color: #7851A9;
            background-color: #fff;
        }
    }

}