@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

.main {
    display:flex;
    align-items: center;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 6rem;
    text-align: center  ;

    h1{
        font-size: 8rem;
        font-family: 'Pirata One';
    }
    h2{
        font-size: 3rem;
        opacity: 70%;
    }
    h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.5;
    }

    @media screen and (max-width: 1300px) {
        h1 {
            font-size: 4rem;
        }
        h2 {
            font-size: 2rem;
        }
    }

    @media screen and (max-width: 800px) {
        padding-top: 4rem;
        h1 {
            font-size: 3rem;
        }
        h2 {
            font-size: 1.5rem;
        }
    }


    .info {
        display: flex;
        justify-content: space-between;
        margin-top: 6rem;
        width: 55%;

        .item {
            flex: 1;
            margin: 0 1rem;
            text-align: center;
        }

        @media screen and (max-width: 1300px) {
            flex-direction: column;
            .item {
                margin: 1rem 1rem;
            }
        }
    }

    .interest {
        display: flex;
        flex-direction: column;
        padding-top: 4rem;
        .form {
            display: flex;
            gap: 1rem;
        }
        input {
            padding: 1rem 1rem;
            width: 340px;
            background-color: transparent;
            border: 1px solid white;
            border-radius: .6rem;
            margin-top: 1rem;
        }
        button {
            width: 140px;
            padding: 1rem 2rem;
            border: transparent;
            background-color: white;
            color: #000;
            font-size: 1rem;
            margin-top: 1rem;
            border-radius: .6rem;
            cursor: pointer;
            transition: all 0.14s ease-in-out;

            &:hover {
                background-color: #7851A9;
                color: white;
            }
        }
    }
}