@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

.main {
    display:flex;
    align-items: center;
    flex-direction: column;
    padding-top: 8rem;
    text-align: center  ;

    h1{
        font-size: 6rem;
        font-family: 'Space Mono';
    }
    h2{
        font-size: 3.2rem;
    }

    @media screen and (max-width: 1300px) {
        padding-top: 6rem;
        h1 {
            font-size: 4rem;
        }
        h2 {
            font-size: 2rem;
        }
    }

    @media screen and (max-width: 800px) {
        padding-top: 4rem;
        h1 {
            font-size: 3rem;
        }
        h2 {
            font-size: 1.5rem;
        }
        
    }


    .info {
        display: flex;
        justify-content: space-between;
        margin-top: 8rem;
        width: 100%;

        .item {
            flex: 1;
            margin: 0 1rem;
            text-align: center;

            h3 {
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.2rem;
                line-height: 1.5;
            }
        }

        @media screen and (max-width: 1300px) {
            flex-direction: column;
            margin-top: 6rem;
            .item {
                margin: 1rem 1rem;
            }
        }
    }
}