.navbar {
    .regular {
        height: 100px;
        display: flex;
        padding: 1rem 4rem;
        align-items: center;

        .logo {
            img {
                object-fit: contain;
                width: 100%;
            }
        }

        .bu {
            margin-left: 16px;

            span {
                color: #cc0000;
            }
        }

        .space {
            flex: 1;
        }

        .links {
            .link {
                margin: 0px 12px;
                border-bottom: 1px solid transparent;
                transition: all 0.14s ease-in-out;

                &:hover {
                    color: #7851A9;
                    border-bottom: 1px solid #7851A9;
                }
            }
        }

        .mobile {
            display: none;
            cursor: pointer;

            .hamburger {
                width: 38px;
                height: 32px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .bar {
                    width: 100%;
                    height: 4px;
                    background-color: #fff;
                }
            }
        }


    @media screen and (max-width: 870px) {
        padding: 1rem 2rem;

        .bu {
            width: 240px;
        }

        .links {
            display: none;
        }

        .mobile {
            display: block;
        }
    }
    }

    .cover {
        display: none;
        position: fixed;
        top: 100px;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 999;
        overflow: hidden !important;
        background-color: black;

        padding: 2rem 4rem;
        align-items: start;
        flex-direction: column;

        .link {
            font-size: 20px;
            margin-bottom: 20px;
            transition: all 0.14s ease-in-out;

            &:hover {
                color: #7851A9;
            }
        }
    }
}