
  .mission,
  .vision,
  .collaboration {
    display: flex;
    flex-direction: column;
    flex: 1;

    span {
      color: #cc0000;
    }

    .sub {
      margin-top: 1rem;
    }

  }

  .vision, .collaboration {
    margin-top: 4rem;
  }
